PORT=5000
MONGO_URI=mongodb://localhost:27017/AI-res-analyzer
JWT_SECRET=your JWT secret
GEMINI_API_KEY=your gemini API key
EMAIL_USER=example@gmail.com
EMAIL_PASS=16 char pass
CLIENT_URL=http://localhost:5173
NODE_ENV=development
